/.env
/.env.backup
/.phpunit.result.cache
/bootstrap/cache/*.php
/node_modules
/public/build
/storage/*.key
/storage/app/private
/storage/app/public/imports/*
/storage/app/public/exports/*
/storage/framework/cache/data/*
/storage/framework/sessions/*
/storage/framework/testing/*
/storage/framework/views/*.php
/storage/logs/*.log
/vendor
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
